hidden=[".config"]
modules = ["nodejs-20:v8-20230920-bd784b9", "web:v2-20230623-0b7a606"]

[deployment]
publicDir = "."
deploymentTarget = "static"

[rules]

[rules.formatter]

[rules.formatter.fileExtensions]

[rules.formatter.fileExtensions.".html"]
id = "module:web:v9-20240319-38caddd/languageServer:html"

[[ports]]
localPort = 4173
externalPort = 80

[[ports]]
localPort = 5173
externalPort = 3000

[[ports]]
localPort = 24678
externalPort = 3001
